<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   SiriExtensionDemo

   Created by tingdongli on 2018/8/31.
   Copyright (c) 2018年 haofree. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
